<%= form_with(model: postt, local: true) do |form| %>
  <% if postt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(postt.errors.count, "error") %> prohibited this postt from being saved:</h2>

      <ul>
        <% postt.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :genre %>
    <%= form.text_field :genre %>
  </div>

  <div class="field">
    <%= form.label :noofpages %>
    <%= form.number_field :noofpages %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating %>
  </div>

  <div class="field">
    <%= form.label :canreadanyone %>
    <%= form.check_box :canreadanyone %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
