= form_for(@post, :html => { :multipart => true }) do |form|
  - if post.errors.any?
    #error_explanation
      %h2
        = pluralize(post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - post.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :name
    = form.select :author_id, Author.all.map {|c| [c.name, c.id]}, include_blank: true
  .field
    = form.label :title
    = form.text_field :title
  .field
    = form.label :genre
    = form.text_field :genre
  .field
    = form.label :noofpages
    = form.number_field :noofpages
  .field
    = form.label :description
    = form.text_field :description

  .field
    = form.label :avatar
    %br/
    = form.file_field :avatar, :multiple => true, name: "post_attachments[avatar][]"
  .actions
    = form.submit
