.container
  %h1 User Names
  %table
    %tr
      %th Username
      %th Email

    - @users.each do |user|
      %tr
        %td
          = user.name
        %td
          = user.email
        %td
          %script{:src => "https://kit.fontawesome.com/a076d05399.js"}
          %a{href: "#{edit_user_path(user)}", :title => 'Edit'}
            %i.far.fa-edit
        %td
          %a{href: user_path(id: user.id), data: { remote: true, method: 'delete'}, 'data-confirm': 'Are you sure?'}
            %i.far.fa-trash-alt
  .pagination
    = paginate @users
  %br/

  = link_to 'New User', new_user_path

:scss
  table, td, th {  
    border: 2px solid #ddd;
    text-align: left;
    
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    padding: 15px;
  }
  